Source: php-timezonedb
Section: web
Priority: optional
Maintainer: s3rj1k <evasive.gyron@gmail.com>
Build-Depends: debhelper (>= 7), po-debconf, xsltproc, build-essential, debhelper, php5-dev
Standards-Version: 3.9.1

Package: php5-timezonedb
Architecture: any
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}, php5-common,ucf
Description: timezonedb module for PHP 5
 Timezone Database to be used with PHP's date and time functions
 .
 This extension is a drop-in replacement for the builtin timezone
 database that comes with PHP. You should only install this extension
 in case you need to get a later version of the timezone database
 than the one that ships with PHP.
 .
 The data that this extension uses comes from the "Olson" database,
 which is located at http://www.iana.org/time-zones.
